body{
	background: #292F33;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 100%;
}

.header__title {
	grid-column: 1/2;
}

.header__search {
	grid-column: 2/3;
}

.movies {
	list-style: none;
}

.list__item {
	background-color: #3b5998;
	border-radius: 3px;
}

.movie__item {
	height: 100%;
}

.movie__title {
	grid-area: title;
	align-self: center;
}

.movie__media {
	grid-area: media;
	align-self: center;
}